#include "winres.h"

VS_VERSION_INFO VERSIONINFO
 FILEVERSION 0,4,1,0
 PRODUCTVERSION 0,4,1,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "041204b0"
        BEGIN
            VALUE "FileDescription", "The Codex of Another Lore: Into the Mystic"
            VALUE "FileVersion", "0.4.1.0"
            VALUE "InternalName", "mystic.exe"
            VALUE "LegalCopyright", "Copyright (C) 2026 jeonghun@live.co.kr"
            VALUE "OriginalFilename", "mystic.exe"
            VALUE "ProductName", "mystic"
            VALUE "ProductVersion", "0.4.1.0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x412, 1200
    END
END

101 ICON "icon.ico"
